body {
  background-color: rgba(205, 198, 198, 0.914);
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.whySeoul-pic {
  padding-left: 30px;
}
.img-responsive {
  width: 100%;
  height: 400px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

.grid-3-columns-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 850px;
  padding-bottom: 100px;
  height: 600px;
}

.card {
  background-color: white;
  display: block;
  margin: 0 auto;
}

.card-header .grid {
  grid-gap: 0;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card iframe {
  width: 100%;
  height: 200px;
}
.card h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #272044;
  padding: 7px 15px;
  margin: 10px 0;
}

.card h5 {
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  color: #272044;
  padding: 5px 15px;
  margin: 5px 0;
}

.card p {
  font-size: 15px;
  padding: 5px 15px;
  line-height: 1;
  margin: 0;
}

.card-footer {
  padding-bottom: 30px;
  padding-top: 20px;
}

#palace {
  object-position: 25% 75%;
}
section {
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

section.secondary {
  background-color: rgb(242, 238, 238);
  max-width: 950px;
}

.secondary h2 {
  font-weight: 700px;
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.secondary h3 {
  font-weight: 700px;
  font-size: 38px;
  margin: 0;
  padding-bottom: 20px;
}

.embed {
  width: 100%;
  height: 200px;
}

.card a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #462cb3;
  text-decoration: none;
  margin: 20px;
}

.gallery {
  font-size: 20px;
  text-align: center;
  margin: 0%;
  padding-bottom: 10px;
}

.photos {
  font-size: 38px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/mainImage.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 350px 0;
}
header h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #cdc9df;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #7971717d;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h5 {
  font-weight: 400px;
  font-size: 24px;
  line-height: 1.5;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footerimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(102, 105, 107, 0.917);
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 250px 0;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-3-columns {
    height: 2000px;
  }
  .secondary {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
